DJANGO_SECRET_KEY=troque-por-uma-chave-longa-e-aleatoria
DJANGO_DEBUG=False
DJANGO_ALLOWED_HOSTS=www.ce.ufpb.br,150.165.130.117,localhost,127.0.0.1
DJANGO_CSRF_TRUSTED_ORIGINS=https://www.ce.ufpb.br
DJANGO_FORCE_SCRIPT_NAME=/catedraunescoeja/eventos
DJANGO_EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
DJANGO_EMAIL_HOST=smtp.exemplo.br
DJANGO_EMAIL_PORT=587
DJANGO_EMAIL_HOST_USER=usuario-smtp
DJANGO_EMAIL_HOST_PASSWORD=troque-pela-senha-do-smtp
DJANGO_EMAIL_USE_TLS=True
DJANGO_DEFAULT_FROM_EMAIL="Pacto EJA <nao-responda@exemplo.br>"

POSTGRES_DB=db_pacto_eja
POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=5432
POSTGRES_USER=pacto_eja
POSTGRES_PASSWORD=troque-por-uma-senha-forte
