DJANGO_SECRET_KEY=troque-por-uma-chave-longa-e-aleatoria
DJANGO_DEBUG=False
DJANGO_ALLOWED_HOSTS=www.ce.ufpb.br,150.165.130.117,localhost,127.0.0.1
DJANGO_CSRF_TRUSTED_ORIGINS=https://www.ce.ufpb.br
DJANGO_FORCE_SCRIPT_NAME=/catedraunescoeja/eventos

POSTGRES_DB=db_pacto_eja
POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=5432
POSTGRES_USER=pacto_eja
POSTGRES_PASSWORD=troque-por-uma-senha-forte
